.card {
  max-width: 300px;
  margin: auto;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: center;
  font-family: Arial, sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header, footer {
  background-color: #3717a2;
  color: white;
  text-align: center;
  padding: 11px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: auto;
  max-width: 310px;
}
.hidden {
    display: none;
  }
